@font-face {
    font-family: Bytebounce;
    src: url(/bytebounce/ByteBounce.woff2);
}

html {
    color: #F7A5A5;
    font-family:'Bytebounce';
}


body {
    font-family: Bytebounce;
    text-align: center;
    background-color: #1A2A4F;
    
}

p{
    font-size: 24px;
}

.container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  background-color: #1A2A4F;
  border-radius: 20px;
  box-shadow: 5px, 5px, 5px, #FFDBB6;
  padding: 10px;
}

.container div{

}

button {
    font-family: 'Bytebounce';
    font-size: xx-large;
    background-color: #1A2A4F;
    color: #F7A5A5;
    border-radius: 5px;
    border: 5px, solid, #FFDBB6;
    box-shadow: 0, 3px, 3px, 0, black;
}

.button-class{
background-color: #1A2A4F;
border: none;
color: #F7A5A5;
font-family: "Bytebounce";
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;


}

input[type="text"] {
    background-color: #1A2A4F;
    font-family: 'Bytebounce';
    color:#F7A5A5;
}

input[type="text"]::placeholder {
    color:#FFDBB6;
}

#messages{
    list-style-type: none;
    border: 5px, solid, #F7A5A5;
    position: absolute;
    left: 0%;
    height: 300px;
    overflow-y: auto;
    width: 300px; 
    margin: 0;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}

#form{
    position: absolute;
    bottom: 0%;
}

.parent{
    position: relative;
    height: 350px;
}

.flex-container-column {
    position: absolute;
    border: 5px, solid, black;
    top: 5px;
    left: 80%;
    min-width: 18%;
    flex-direction: column;
    min-height: 100vh;

}

.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-display > div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;

}




/* painting styles */
.easle {
    display: none;
}

canvas {
    border: 2px solid black;
    cursor: crosshair;
    background-color: white;

}

#brush-size {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#pen {
    padding: 10px;
    background-color: #0800ff;
    color: white;
    border: none;
    cursor: pointer;
}

#eraser {
    padding: 10px;
    background-color: #ee00cf;
    color: white;
    border: none;
    cursor: pointer;
}

#color-picker {
    cursor: pointer;
}

#clear-canvas {
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
}