.popup {
    display: none; /* Initially hidden */
    position: absolute; /* Positioned relative to the viewport (or a positioned ancestor) */
    background-color: #333;
    right: 0%;
    transform: translate(0%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; /* Allows mouse events to pass through the popup to the button */
    z-index: 1000;
    /* Add a slight offset so it doesn't immediately cover the cursor */
    transform: translate(10px, 10px);
}

.upgrade {
    display: grid;
    grid-template-columns: auto auto auto;
}

.upgrade-name{
    grid-column: 1 / span 2;
}

.upgrade-cost{
    text-align:left;
    grid-row: 2
}

.amount-purchased{
    float: right;
    text-align: right;
    grid-column: 3;
    grid-row: 1 / span 2;
    font-size: 48px;
}
#thirds {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background-color: goldenrod;
}
.griditem {
position: relative;
background-color: rgb(33, 33, 74);
justify-items: center;
}
.upgrade {
	background-color: grey;
	width: 100%;
	border: none;
	border-radius: 0px;
	text-shadow: 4px;
}
.upgrade:hover{
	background-color: rgb(155, 155, 155);
	transform: scale(1);
}
.upgrade:active {
	transform: scale(1);
	background-color: rgb(92, 92, 92);
}