@font-face {
    font-family: Bytebounce;
    src: url(/bytebounce/ByteBounce.woff2);
}

html {
    color: rgb(255, 186, 108);
	background-color: rgb(33, 33, 74);
    font-family:'Bytebounce';
}

* {
    margin: 0;
}

body {
	touch-action: manipulation;
    font-family: Bytebounce;
    text-align: center;
    background-color: rgb(33, 33, 74);
    
}
.preloader{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1A2A4F; /* Or any background color */
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
}
.preloader > h1 {
    font-size: 50vh;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal{
    z-index: 4;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    background-color: rgba(120, 120, 120, 0.5);
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

h1{
	font-size: 5vh;
	justify-self: center;
}

a{
	color: rgb(255, 186, 108);
}

p{
    font-size: 24px;
}

/*	.container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  background-color: #1A2A4F;
  border-radius: 20px;
  box-shadow: 5px, 5px, 5px, #FFDBB6;
  padding: 10px;
}


.container div{

}

*/
button {
    font-family: 'Bytebounce';
    transition: all 0.5s ease-in-out;
    font-size: xx-large;
    text-decoration: none;
    background-color: #4b3b9b;
    color: rgb(255, 186, 108);
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

@media(hover:hover) {
    button:hover{
        background-color: darkcyan;
        transform: scale(1.1);
    }
}

button:active{
    background-color: darkcyan;
    transform: scale(.9);
    transition-duration: 0.1s;
}



.button-class{
background-color: #1A2A4F;
border: none;
color: #F7A5A5;
font-family: "Bytebounce";
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;


}

input[type="text"] {
    background-color: #1A2A4F;
    font-family: 'Bytebounce';
    color:#F7A5A5;
}

input[type="text"]::placeholder {
    color:#FFDBB6;
}

#messages{
    list-style-type: none;
    border-style: solid;
	border: 5px, solid, #F7A5A5;
    position: absolute;
    left: 0%;
    height: 300px;
    overflow-y: auto;
    width: 300px; 
    margin: 0;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
    text-align: left;
}

#form{
    position: absolute;
    bottom: 0%;
    align-items: center;
    align-content: center;
    left: 0%;
    bottom: 2%;
}

.send{
    position: absolute;
    bottom: -5px;
}

.chat{
    position: absolute;
    bottom: 1%;
    height: 350px;
}

.solidborder{
    border-style: solid;
    border: 5px, solid;
}

.flex-container-column {
    position: absolute;
    border-style: solid;
	border: 5px, solid, black;
    top: 5px;
    right: 2vw;
    width: min(20vw, 200px);
    flex-direction: column;
    min-height: 80vh;

}

.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexcontainer > *{
    flex-basis: 20%;
}

#player-display > div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 18vw;

}

.flexcontainer-row{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    flex-direction: row !important;
}

.button {
    transition: all 0.5s ease-in-out;
    font-size: xx-large;
    text-decoration: none;
    background-color: #4b3b9b;
    /* color: #333333; */
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
  }

.button:hover {
    background-color: darkcyan;
    scale: 1.1;
}

.button:active {
    background-color: darkcyan;
    transform: scale(.9);
    transition-duration: 0.1s;  
}

/* painting styles */
.easle {
    display: none;
}

canvas {
    border: 2px solid black;
    cursor: crosshair;
    background-color: white;

}

#brush-size {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#pen {
    padding: 10px;
    background-color: #0800ff;
    color: white;
    border: none;
    cursor: pointer;
}

#eraser {
    padding: 10px;
    background-color: #ee00cf;
    color: white;
    border: none;
    cursor: pointer;
}

#color-picker {
    cursor: pointer;
}

#clear-canvas {
    padding: 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
}

.clickable-text{
    background-color:transparent !important;
    border: none !important;
    scale: 1;
    transition: scale .2s ease-in-out;
}
.clickable-text:hover{
    scale: 1 !important;
    text-decoration: underline;
    cursor: pointer;
}

.clickable-text:active{
    scale: .8;
}